#### 11기 머신러닝 수업목차에 나오는 교육영상과 책을 미리 읽어오면 더 이해가 잘되니까 틈나는대로 보고 그 단원을 완성하는 것은 코드로 관련 머신러닝 알고리즘을 구현하면 완성

## ■ R
### 뉴질랜드 aukland 대학의 Rebert Gentleman과 Ross Ihaka가 1995년에 개발한 소프트웨어
### 데이터 분석을 위한 통계 및 그래픽스를 지원하는 무료 소프트웨어

## ■ 작업 디렉토리 설정 및 emp.csv 로드하는 방법

In [2]:
setwd("d:/R")

In [3]:
getwd()

[1] "d:/R"

In [4]:
emp<-read.csv('emp3.csv',header=T)
emp

   index empno ename  job       mgr  hiredate        sal  comm deptno
1   1    7839  KING   PRESIDENT   NA 1981-11-17 0:00 5000   NA 10
2   2    7698  BLAKE  MANAGER   7839 1981-05-01 0:00 2850   NA 30
3   3    7782  CLARK  MANAGER   7839 1981-05-09 0:00 2450   NA 10
4   4    7566  JONES  MANAGER   7839 1981-04-01 0:00 2975   NA 20
5   5    7654  MARTIN SALESMAN  7698 1981-09-10 0:00 1250 1400 30
6   6    7499  ALLEN  SALESMAN  7698 1981-02-11 0:00 1600  300 30
7   7    7844  TURNER SALESMAN  7698 1981-08-21 0:00 1500    0 30
8   8    7900  JAMES  CLERK     7698 1981-12-11 0:00  950   NA 30
9   9    7521  WARD   SALESMAN  7698 1981-02-23 0:00 1250  500 30
10 10    7902  FORD   ANALYST   7566 1981-12-11 0:00 3000   NA 20
11 11    7369  SMITH  CLERK     7902 1980-12-09 0:00  800   NA 20
12 12    7788  SCOTT  ANALYST   7566 1982-12-22 0:00 3000   NA 20
13 13    7876  ADAMS  CLERK     7788 1983-01-15 0:00 1100   NA 20
14 14    7934  MILLER CLERK     7782 1982-01-11 0:00 1300   NA 10

## ■ SQL과 R의 차이
### 아주 긴 SQL 코드를 R 코드로는 아주 단순하게 작성할 수 있다.
```sql
select deptno, sum(decode(job,'SALESMAN',sal,0)),
               sum(decode(job,'ANALYST',sal,0)),
               sum(decode(job,'CLERK',sal,0)),
               sum(decode(job,'MANAGER',sal,0)),
               sum(decode(job,'PRESIDENT',sal,0))
    from emp
    group by deptno;
```

In [5]:
attach(emp)
tapply(sal,list(deptno,job),sum)

   ANALYST CLERK MANAGER PRESIDENT SALESMAN
10   NA    1300  2450    5000        NA
20 6000    1900  2975      NA        NA
30   NA     950  2850      NA      5600