## ■ R 에서의 if 문과 loop 문 사용방법
```R
함수명 <- function(매개변수명){
    실행문
    return (실행결과를 담은 변수명)
}
```

### ※ 문제196. 이름을 입력하면 해당 사원의 월급이 출력되는 함수를 생성하시오

In [1]:
income<-function(ename){
    emp<-read.csv('emp3.csv',head=T)
    sal<-emp[emp$ename==ename,'sal']
    print(sal)
}

In [2]:
income('SCOTT')

[1] 3000

### ※ 문제197. 이름을 아래와 같이 소문자로 입력해도 출력되게 하시오 !
```R
income('scott')
3000
```

In [3]:
income<-function(ename){
    emp<-read.csv('emp3.csv',head=T)
    sal<-emp[emp$ename==toupper(ename),'sal']
    print(sal)
}

In [4]:
income('scott')

[1] 3000

### ※ 문제198. 직업을 입력하면 해당 직업이 사원들의 월급들이 출력되게하는 함수를 생성하시오 !

In [7]:
job_sal<-function(job){
    emp<-read.csv('emp3.csv',head=T)
    sal<-emp[emp$job==toupper(job),c('ename','sal')]
    print(sal)
}

In [9]:
job_sal('salesman')
job_sal('analyst')

   ename  sal
5 MARTIN 1250
6  ALLEN 1600
7 TURNER 1500
9   WARD 1250
   ename  sal
10  FORD 3000
12 SCOTT 3000

### ※ 문제199. 직업을 입력하면 해당 직업의 토탈월급이 출력되게하는 함수를 생성하시오 !

In [14]:
total<-function(job){
    emp<-read.csv('emp3.csv',head=T)
    tot<-emp[emp$job==toupper(job),'sal']
    rs<-sum(tot)
    print(rs)
}

In [17]:
total('salesman')
total('analyst')

[1] 5600
[1] 6000

### ※ 문제200. 위의 스크립트를 수정해서 paste 함수를 이용해서 아래와 같이 출력되게 하시오 !

In [18]:
total<-function(job){
    emp<-read.csv('emp3.csv',head=T)
    tot<-emp[emp$job==toupper(job),'sal']
    rs<-sum(tot)
    print(paste(job,'의 월급은',rs,'입니다'))
}

In [20]:
total('salesman')
total('analyst')

[1] "salesman 의 월급은 5600 입니다"
[1] "analyst 의 월급은 6000 입니다"

### ※ 문제201. 위의 스크립트를 수정해서 직업을 물어보게하고 직업을 입력하면 해당 직업의 토탈월급이 출력되게 하시오
    직업을 입력하세요 ~ salesman
    토탈월급이 5600입니다.

In [21]:
total<-function(){
    job<-readline(prompt = '직업을 입력하세요: ')
    emp<-read.csv('emp3.csv',head=T)
    tot<-emp[emp$job==toupper(job),'sal']
    rs<-sum(tot)
    print(paste('토탈월급은 ',rs,'입니다'))
}

In [22]:
total()

직업을 입력하세요: salesman
[1] "토탈월급은  5600 입니다"

## ■ if 문 사용법
```R
if (조건식) {
    조건식이 true 일때 실행되는 식
}
else if (조건식) {
   조건식이 true 일때 실행되는 식 
}
else {                   
  위의 조건식들에 만족하지 않는 경우 실행되는 식
} 
```

### ※ 문제202. if 문을 이용해서 피타고라스의 직각 삼각형의 여부를 구현하시오

In [24]:
pytha<-function(){
  num<-scan()
  if(num[1]^2+num[2]^2==num[3]^2){
    print('직각삼각형이 맞습니다.')
  } else {
    print('직각삼각형이 아닙니다.')
  }
}

## ■ R 에서의 loop 문 
```R
<<for  loop 문  문법 >>
for  ( 루프변수  in  반복할 리스트 ) {
                 반복할  실행문 
}
```

In [26]:
aaa<-function(x){
    for (i in 1:x){
        print(i)
    }
}

In [28]:
aaa(10)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### ※ 문제203. 아래와 같이 별이 출력되게하시오 !
```
star(5)  
rep('★',x)
★             
★★
★★★
★★★★
★★★★★
```

In [41]:
star<-function(num){
    for (i in 1:num){
        print(rep('★',i))
    }
}

In [42]:
star(5)

[1] "★"
[1] "★" "★"
[1] "★" "★" "★"
[1] "★" "★" "★" "★"
[1] "★" "★" "★" "★" "★"

### ※ 문제204. R에서 난수 생성하는 함수를 실행하시오. 0 에서 1사이 실수 난수를 10개 생성하시오 !

In [52]:
runif(10)

 [1] 0.917739795 0.681668541 0.618006077 0.002522981 0.718128305 0.750057684
 [7] 0.569547862 0.358552000 0.666841814 0.492482407

### ※ 문제205. (오늘의 마지막 문제) R 코드로 몬테카를로 알고리즘을 구현하세요.

In [53]:
monte<-function(num){
    cnt<-0
    for (i in 1:num){
        a<-runif(1)
        b<-runif(1)
        if (a^2+b^2<=1){
            cnt<-cnt+1
        }
    }
    print(cnt/num*4)
}

In [54]:
monte(100000)

[1] 3.14204